numpy
pandas
Flask
scikit-learn
https://download.pytorch.org/whl/cu101/torch-1.7.0-cp38-cp38-win_amd64.whl
https://download.pytorch.org/whl/cu101/torchvision-0.8.1-cp38-cp38-win_amd64.whl
requests
Pillow
gunicorn == 20.0.4
